@import './routes.scss';
@import './editor_img.scss';

ide code_editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
    bottom: 0;
    text-align: left;
    .CodeMirror {
        height: 100%;
        font-family: Consolas,Source Code Pro,Courier New,Menlo,Monaco,DejaVu Sans Mono,monospace;
        .CodeMirror-scrollbar-filler {
            background-color: #3b3e40;
        }
    }
}
