.ide-container footer {
    position: fixed;
    bottom: 0;
    height: 26px;
    width: 100%;
    line-height: 24px;
    border-top: 1px solid transparent;
    box-shadow: -1px 0px 2px #333;
    background: -webkit-linear-gradient(bottom, #131313 0%, #222 90%, #333 95%, #131313 100%);
    .ide-function {
        float: right;
        i {
            color: #9c9c9c;
            position: relative;
            top: 3px;
            margin-right: 10px;
            opacity: .6;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            &:last-child {
                margin-right: 3px;
            }
        }
    }
    .ide-msg {
        float: left;
        padding: 1px 5px 0;
        display: table;
        height: 25px;
        line-height: 26px;
        color: #1f9857;
        font-size: 12px;
        transform-origin-x: 0;
        transform: scale(.9);
        margin-top: -1px;
        opacity: .9;
    }
}
